#videoContainer{
    width: 100%;
    position: relative;
    video{
        width: 100%;
    }
    .videoControls{
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &.showing{
            opacity: 1;
        }
        align-items: center;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr auto;
        position: absolute;
        bottom: 10px;
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto;
        gap: 10px;
        justify-content: space-between;
        background-color: #0f1117;
        padding: 10px;
        box-sizing: border-box;
    }
    .videoControls__play{
        display: flex;
        justify-content: space-around;
        .videoControls__time{
            margin-right: 5px;
            font-size: 15px;
        }
    }
    .videoControls__volume{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            margin-left: 10px;
            i{
                font-size: 20px;
                margin-right: 5px;
            }
        }
    }
}
