extends base

block content 
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="name", name="name", type="text", required value=loggedinUser.name)
        input(placeholder="email", name="email" type="email" value=loggedinUser.email)
        input(placeholder="username", name="username", type="text", required value=loggedinUser.username)
        input(placeholder="location", name="location", type="text", required value=loggedinUser.location)
        input(type="submit", value="Updated Profile")
        hr
        if !loggedinUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;