header
    a(href="/").header__logo
        i.fab.fa-youtube
    nav
        ul  
            li 
                a(href="/search")
                    i.fas.fa-search
            li 
                a(href="/") Home
            if loggedin
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedinUser._id}`) My Profile
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log out
                li
                    a(href=`users/${loggedinUser._id}`)
                        if !loggedinUser.avatarUrl
                            span 😀
                        else
                            if loggedinUser.socialOnly 
                                img(src=user.avatarUrl).avatar
                            else 
                                img(src="/" + user.avatarUrl).avatar
                            
            else 
                li 
                    a(href="/login") Login
                li
                    a(href="/join").header__btn Join